* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(120deg, #D8A47F, #BB6B48);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-out;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-out;
}

.home-button {
    text-decoration: none;
    color: #D8A47F;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #D8A47F;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 1.2em;
    animation: fadeInUp 1.5s ease-out;
}

.home-button:hover {
    background-color: #D8A47F;
    color: #fff;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}
